body{
    font-family: arial;
    background-color: antiquewhite;
    margin: 0;
}
.name{
background-color: white;
border-color: rgb(135, 78, 189);
border-style: solid;
height: 35px;
border-radius: 5px;
font-weight: bold;
margin-top: 10px;
}
ul{
list-style-type: none;

}
.slide{
display: flex;
justify-content: space-around;
}
li{
display: inline-block;
font-weight:bold ;
margin-left:12px ;
cursor: pointer;
margin-bottom: 0px;
}
header{
display: flex;
justify-content: space-around;

}
li:hover{
color: rgb(216, 178, 8);
padding-top: -10px;
text-decoration: underline;
text-underline-position: below;
}
li:active{
text-decoration: underline;
}
.main{
background-image: url(pics/themetravel.jpg);
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 560px;
justify-content: center;
overflow: hidden;
align-items: center;
text-align: center;
padding-top: 50px;
margin-bottom: 2px;
}
h5{
color: white;
font-size: 25px;
margin-bottom: 2px;
}
.main .join{
color: white;
padding-top: -10px;
margin-bottom: 5px;
}
.main .info{
color: white;
font-size: 10px;
}
.main input{
width: 300px;
border-radius: 5px;
height: 24px;
border: none;
}
.main .sub{
height: 26px;
background-color: rgb(245, 71, 8);
border: none;
font-weight: 700;
cursor: pointer;
border-radius: 5px;
}
.recent{
text-align: center;
font-size: 16px;
font-weight: bolder;
}
.box{
width: 250px;
height:260px;

background-color: white;
border: 1px;
margin-left: 8px;
}
.box:hover{
box-shadow: 1px 1px 10px black;
}
.thebestplace{
font-size: 14px;
}
span{
color: red;
}
#book{
background-color: orange;
border-radius: 5px;
border: none;
height: 30px;
cursor: pointer;
margin-left: 10px;
}
#book:hover{
background-color: rgb(245, 187, 80);
}
.recentplace{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
column-gap: 20px;
row-gap: 20px;
width: auto;
height: auto;
}
.photo{
width: 250px;
height: 150px;
margin: 10px;

}
.img{
width: 230px;
height: 150px;

}
.thebestplace{
font-size: 15px;
margin-left: 5px;
}
.largepic{
display: inline-block;
background-color: white;
height: 480px;
width: 370px;
}
.long{
margin: 10px;
height: 390px;
width: 350px;
}
#long{
margin-left: 10px;
}
.populerdes{
width: 350px;
height:230px;

background-color: white;
border: 1px;
margin-left: 8px;
display: inline-block;
}
.pro{
width: 325px;
height: 160px;
margin: 10px;
}
.populerdestination{
display: flex;
column-gap: 20px;
text-align: center;
}
.populer{
display:flex;
flex-wrap: wrap;
column-gap: 40px;
row-gap: 20px;
}
.contactme{
width: 230px;
height: 120px;
background-color: white;
text-align: center;
margin-left: 50px;
cursor: pointer;
box-shadow: 1px 1px 5px black;
}
.location{
height: 30px;
width: 30px;
margin-top: 10px;
}
.loc{
font-weight: 500;
font-size: 15px;
}
.contact{
display: flex;
flex-wrap: wrap;
column-gap: 30px;
row-gap: 20px;
}
.last{
margin-top: 50px;
background-color: white;
text-align: center;
height: 200px;
}
.lastbutton{
margin-top: 30px;
}
.nam{
background-color: white;
border-color: rgb(135, 78, 189);
border-style: solid;
height: 35px;
border-radius: 5px;
margin-top: 10px;
text-align: center;
padding-bottom: 50px;
}